* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  border: 1px solid black;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  font-size: 18px;
  list-style: none;
}
